<h1>Log in with <a href="https://www.telegram.org">Telegram</a></h1>

<div>
    <div id="tgLoginWidgetContainer">
        @Html.Raw(ViewBag.WidgetEmbedCode)
    </div>

    <a href="https://telegram.org/blog/login">about</a>
</div>